body, html {
	margin: 0;
	font-family: arial;
	overflow-x: hidden;
	background-color: #FFF3E7;
	height: 100%;
	width: 100%;
	}
.wrapper{
	min-height: 100%;
	display:flex;
	flex-direction: column;
}
.element-grid-menu{
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 13px;
}

.element-menu{
	padding: 5%;
	color:gray;
}
.element-menu:hover{
	color:black;
	cursor:pointer;
}
.choice_subject{
	font-weight: bold;
	color:black;
	border-radius: 13px 13px 0px 0px;
	width:90%;
	background-color: #FFFF8B;
}
main{
	flex:1 1 auto;
	margin-top:1%;
	margin-bottom: 1%;
	display:grid;
	justify-content: center;
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 10px;
	height:auto;
	margin-left:9.4vw;
	margin-right: 9.4vw;
}
.item{
	border:1px solid black;
	padding: 10px;
}
.main-grid-menu{
	grid-column-start: 1;
	grid-column-end: 3;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main-grid-subject{
	background-color: white;
	border-radius:20px;
	grid-column-start: 3;
	grid-column-end: 11;
	height: auto;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.main-grid-marketing{
	grid-column-start: 11;
	grid-column-end: 13;
	height: auto;

}
.element-grid-marketing{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	border-radius: 13px;
	background-color: white;
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	height: auto;
}
.item {
	display: none;
}
.element-grid-subject {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	display:flex;
	justify-content: center;
	flex-wrap:wrap;
	height:100%;
}
.subject-flex {
	display: flex;
	justify-content: center;
	align-content: space-between;
	flex-direction: row;
	box-sizing: border-box;
	margin:10px;
	border-radius: 13px;
	background-color: #FFFF8B;
	flex-wrap:wrap;
}
.element-subject-flex-span {
	font-weight: bold;
	font-family: 'PT Sans', sans-serif;
	font-size: 16pt;
	border-radius: 13px 13px 0px 0px;
	background-color: #BE8BFF;
	padding-top:7%;
	width:100%;
	height:9%;
	text-align: center;
}
.element-subject-flex-photo {
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 8px;
}
#main-photo-math {
	background-image: url("../image/main/math.jpg");
}
#main-photo-drawing {
	background-image: url("../image/main/draw.jpg");
}
#main-photo-programming {
	background-image: url("../image/main/prog.jpg");
}
.element-subject-flex-describe {
	box-sizing: border-box;
	padding: 0 2% 2% 2%;
	width: 90%;
	border:3px solid #BE8BFF;
	border-radius: 5px;
	color:#BE8BFF;
	background-color: white;
}
.element-subject-flex-star {
	height:15%;
	width:100%;
	box-sizing: border-box;
	/* margin-top: 12%; */
	color:#BE8BFF;
	padding-top: 6%;
	padding-left: 6%;
	display: inline-block;
	position: relative;
}
.subject-flex-star {
	font-size: 150%;
}
.block-marketing {
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	margin: 10 auto;
	width:200px;
	height:300px;
}
.opisanie_marketing {
	font-size: 90%;
	box-sizing: border-box;
	padding-top: 10%;
	text-align: center;
	background-color: #BE8BFF;
	border-radius: 13px 13px 0px 0px;
	height:25%;
}
.marketing-photo {
	width:100%;
	height: 60%;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0px 0px 8px 8px;
}
.marketing-photo:hover {
	cursor:pointer
}
#marketing-photo-1 {
	background-image: url("../image/main/unknown.png");
}
#marketing-photo-2 {
	background-image: url("../image/main/mark2.jpg");
}
#main-subject-flex-choose-course {
	font-weight: bold;
	margin: 0 auto 0 15%;
	padding: 8px 5px 8px 5px;
	background-color: #BE8BFF;
	white-space: pre-line;
	border-color: #914CF0;
	border-radius: 4px;	
	color: white;
	cursor: pointer;
}
#main-subject-flex-choose-course:hover {
	background-color: #7953D2;
}
@media (max-width: 1240px) {
	.main-grid-marketing {
		grid-column-start: 1;
		grid-column-end:13 ;
		height:auto;
	}
	.element-grid-menu {
		display:none;
	}
	.main-grid-subject {
		grid-column-start: 1;
		grid-column-end:13 ;
		height:auto;
	}
}
@media (max-width:1024px){
	.main-grid-subject {
		grid-column-start: 1;
		grid-column-end:13 ;
	}
	.element-subject-flex-describe {
		height: 18%;
	}
	.element-grid-subject {
		flex-direction: column;
		justify-content: center;
		align-content: center;
	}
	.subject-flex {
		width: 400px;
		height: 600px;
	}
	.main-grid-marketing {
		grid-column-start: 1;
		grid-column-end:13 ;
	}
	.element-subject-flex-photo {
		width:88%;
		height: 42%;
	}
	#main-subject-flex-choose-course {
		margin: 0 10% 0 10%;
		font-size: 18pt;
	}
}
@media (min-width:1025px){
	.subject-flex {
		width:300px;
		height:450px;
	}
	.element-subject-flex-photo {
		width:88%;
		height: 45%;
	}
}
@media (max-width:500px){
	.subject-flex {
		width:200px;
		height:300px;
	}
	body{
		font-size: 10px;
	}
	#main-subject-flex-choose-course {
		margin: 0 5% 10% 5%;
		font-size: 8pt;
	}
}
@media (max-width: 424px) {
    header, main, footer {
        padding: 0 1vw 0 1vw;
        grid-column-gap: 2px;
        grid-row-gap: 2px
    }
    footer {
        grid-column-gap: 8px;
        grid-row-gap: 8px
    }
	main{
		margin-left:0;
		margin-right:0;
	}
}